<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>あなたの理想の宿へ</h1>
    <p><strong>住んでみたい</strong>を実現するために私たちがお手伝いします</p>
    <%= link_to "今すぐ探す", flats_path, class: "btn btn-lg btn-success"  %>
  </div>
</div>

